/config
/offline
/pre-cadastro
/script
/tradutor
/cron/TIME
/webservice/imp/*.txt
/credenciamento
/credenciamento-fiscalizacao
/senha/lib/php/core/Config.php
/senha/integracao/globalVars.php
sql.txt
traduzir_arquivo
traduzir_arquivo.php
